<h2>Show Organization</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @organization.name %>
  </li>

</ul>

<span><%= link "Edit", to: organization_path(@conn, :edit, @organization) %></span>
<span><%= link "Back", to: organization_path(@conn, :index) %></span>
