<h2>Show User</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @user.name %>
  </li>

  <li>
    <strong>Points:</strong>
    <%= @user.points %>
  </li>

  <%= link"Log In As This User", to: fake_user_login_path(@conn, :create, @user.id) , method: :post, class: "btn btn-primary" %>
</ul>

<span><%= link "Edit", to: user_path(@conn, :edit, @user) %></span>
<span><%= link "Back", to: user_path(@conn, :index) %></span>
