/* This file is for your main application css. */
body{
  font-family: 'Open Sans', sans-serif;
}
.avatar{
  border-radius: 100%;
  max-height: 40px;
}
td.vertical-middle-align{
  vertical-align: middle;
}
td.leader{
  max-width: 20px;
}
.leader-sprite{
  width: 80px;
  margin-right: -30px;
  margin-top: -20px;
  margin-left: -20px;
  margin-bottom: -30px;
}