<div class="jumbotron">
  <h2><%= gettext "Welcome to CommunityLink" %></h2>
  <p class="lead">A Social Network for<br />finding causes that need your help</p>
</div>

<%= link "Users", to: user_path(@conn, :index), class: "btn btn-default" %>
<%= link "Organizations", to: organization_path(@conn, :index), class: "btn btn-default" %>
<%= link "Events", to: event_path(@conn, :index), class: "btn btn-default" %>
<%= link "Users Events", to: user_event_path(@conn, :index), class: "btn btn-default" %>
